@model SistemaGerencia.Web.Models.ClienteViewModel
@{
    ViewBag.Title = "CadastroCliente";
}

<div class="container">
    <h2>Cadastro de Cliente</h2>

    @Html.Partial("_DadosCadastroCliente", Model)

    @if(Model.Id != 0)
    {
        <h3>Adicionar Endereço</h3>
        @Html.Partial("_DadosCadastroEndereco", new SistemaGerencia.Web.Models.EnderecoViewModel() { IdPessoa = Model.Id })
    }

    @if (Model.Enderecos != null && Model.Enderecos.Count > 0)
    {
        <h3>Endereços</h3>
        @Html.Partial("_ListaEnderecoCliente", Model.Enderecos)
    }
</div>


